@{
	ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<style>
	html {
		background-image: url('../../images/backg.jpg');
		background-size: cover;
		text-align: center;
		height: 100vh;
	}
	body {
		background-color: transparent;
	}
</style>

<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading" style="padding-top: 10%;">
				Welcome To My Personal Website!
			</div>
			
            <div class="intro-lead-in">
				View My <span id="typed"></span>
				
			</div>
			<hr />
                <a href="~/Home/About" id="btn-tellmemore" class="page-scroll btn btn-xl">Tell Me More&nbsp;<i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
                <a href="https://docs.google.com/document/u/1/d/1E0Ry_eqeeD04lHZqJTYQnxBiRkvzY8UuTTLWliBb6EY/export?format=pdf" id="btn-resume" class="btn btn-xl">Download Resume&nbsp;<i class="fa fa-download fa-fw" aria-hidden="true"></i></a>
            <p/>
            <img src="~/images/html5 css3 js.png" id="htmlcssjs-img" />
        </div>
    </div>

	
	@section Scripts{
		<script typed="text/javascript">
			$(function () {
				$("#typed").typed({
					strings: ["Portfolio",
						"Bugtracker", "Budget App",
						"LinkedIn", "GitHub",
						"Awesome Resume"],
					typeSpeed: 150,
					backspeed: 50,
					loop: true
				});
			});
		</script>
	}
</header>



